* {
  margin: 0;
}
html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
  margin: auto;
}
body, .app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #2f4f4f;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.43);
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
  letter-spacing: 3px;
  padding-top: 5px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}
.list-books-title .bigger {
  font-size: 35px;
}

.list-books-content {
  padding: 100px 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
  display: block;
  position: relative;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  color: #2f4f4f;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}
.rotate-link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2f4f4f;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.rotate-link:hover {
  transform: rotate(90deg);
  background-size: 80%;
}
.fixed-shadow {
  background: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: block;
  position: absolute;
  margin-top: -50px;
  z-index: -1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 14px;
  width: 130px
}
.book-title {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(28, 100, 102);
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3 ease;
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  transition: all 0.3s ease;
}
.book-cover:hover {
  box-shadow: 0 8px 22px rgba(0,0,0,0.42), 0 3px 6px rgba(0,0,0,0.43);
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* Note component */

.notes-icon {
  position: relative;
  top: 200px;
  width: 40px;
  height: 40px;
  background-color: rgb(28, 100, 102);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3 ease;
  border-top-right-radius: 20px;
  font-size: 27px;
  text-align: center;
  color: white;
  cursor: pointer;
  z-index: 1;
  border: none;
  padding: 0;
  outline: inherit;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.notes-window {
  position:fixed;
  background: white;
  width: 50%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  font-family: 'Raleway', sans-serif;
  border: 3px solid black;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.notes-book-title {
  width: 100%;
  background-color: darkslategray;
  padding: 5px 0;
  color: white;
  font-size: 26px;
  text-align: center;
  letter-spacing: 2px;
}

.notes-window-title {
  width: 100%;
  height: 40px;
  background-color: black;
  text-align: center;
  padding: 7px 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.notes-display {
  width: 100%;
  height: 234px;
  overflow-y: scroll;
  font-family: Arial, sans-serif;
}

.notes-display ul {
  list-style: none;
  padding: 0 10px;
}

.notes-display li {
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.notes-display li:last-child {
  border-bottom: none;
}

.notes-input {
  width: 100%;
  height: 40px;
  padding: 5px;
}

.notes-window button {
  width: 50%;
  height: 40px;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;
  border: 1px solid black;
  background-color: lightgray;
  transition: all 0.3s ease;
  cursor: pointer;
}

.notes-window button:hover {
  background-color: rgba(0,0,0,0.3);
}

.notes-window .removeButton {
  width: 20px;
  height: 20px;
  float: right;
  outline: none;
  border: none;
  border-radius: 50%; 
  transition: all 0.3s ease;
  background-color: lightgray;
  cursor: pointer;
}

.notes-window .removeButton:hover {
  background-color: gray;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  color: white;
}

@media (max-width: 800px) {
  .notes-window {
    width: 90%;
  }
  .notes-book-title {
    font-size: 20px;
  }
}
